<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h2>고객 관리</h2>
    </header>
    <div class="update_content">
      <section>
        <h3>고객 정보 > 수정</h3>
      </section>
      <section>
        <div>
          <span>code : </span>
          <span id="guest_code"><%= data ? data.guest_code : '' %></span>
        </div>
        <div>
          <span>name : </span>
          <span> <%= data ? data.guest_name : ''%></span>
        </div>
        <div>
          <span>birth : </span>
          <span><%= data ? data.guest_birth : ''%></span>
        </div>
        <div>
          <span>phone number : </span>
          <input id="guest_hp" value="<%= data ? data.guest_hp : '' %>" />
        </div>
        <div>
          <span>address : </span>
          <input id="guest_addr" value="<%= data ? data.guest_addr : '' %>" />
        </div>
        <div>
          <span>mail : </span>
          <input id="guest_mail" value="<%= data ? data.guest_mail : '' %>" />
        </div>
      </section>
      <section class="update_btn">
        <form action="<%=data ? data.guest_code : ''%>" method="post">
          <button class="confirm_btn" id="confirm" type="submit">확인</button>
        </form>
        <form>
          <button class="cancel_btn" id="cancel" type="submit">취소</button>
        </form>
      </section>
    </div>
    <script>
      const guestInfo = document.querySelectorAll('input');
      const guest_code = document.querySelector('#guest_code').textContent;
      const editBtn = document.querySelector('#confirm');
      const cancelBtn = document.querySelector('#cancel');
      // 수정하기 버튼 이벤트
      editBtn.addEventListener('click', function (event) {
        event.preventDefault();

        let formData = {};
        guestInfo.forEach((item) => {
          formData[item.id] = item.value;
        });

        fetch(`/${guest_code}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData),
        })
          .then((response) => {
            window.location.assign('/');
          })
          .catch((error) => {
            console.error('ERROR: PUT request: ', error);
          });
      });

      cancelBtn.addEventListener('click', function (event) {
        event.preventDefault();
        window.location.assign('/');
      });
    </script>
  </body>
</html>
